<div>
    <h2>2) Using custom isSubmitted property</h2><br>
    <form [formGroup]="form" (ngSubmit)="submit(ngForm)">
        <label for="name">Name*</label><br>
        <input id="name" name="name" type="text" formControlName="name"/>
        <ng-container *ngIf="isSubmitted && form.get('name').invalid">
            <br>
            <span class="field-error">Value is invalid.</span>
        </ng-container>
        <br><br>

        <label for="email">Email*</label><br>
        <input id="email" name="email" formControlName="email"/>
        <ng-container *ngIf="isSubmitted && form.get('email').invalid">
            <br>
            <span class="field-error">Value is invalid.</span>
        </ng-container>
        <br><br>

        <button type="submit">Submit</button>
    </form>
</div>
